@model IEnumerable<ClassLibrary.Person>

@{
    ViewBag.Title = "GetPersons";
}

<h2>Get persons</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="table-responsive">
    <table id="myTable" class="table table-bordered table-condensed table-striped table-hover sortable">

        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="10">No Record's found.</td>
            </tr>

        }

        else
        {
            <thead>
                <tr class="danger">
                    <
                    <th data-defaultsign="AZ">
                        
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    <th data-defaultsign="AZ">Surname</th>
                    <th data-defaultsign="AZ">Phone Number</th>
                    <th></th>
                </tr>
            </thead>


 foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SurName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Debt View", "Debt View", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
    }
        </table>
</div>

